*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
*.obj
.fuse*
*.tlog
*.log
*.ipdb
*.iobj
*_no_gpu.exe
build\darknet\x64\data
*.db
*.pdb
*.idb
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
